- 시계열데이터 문법
- offsets, first 근로기준의 날 뽑을 수도 있고, 첫주의 월요일만 뽑을 수 있고 
- 리서치 하셔서 정리하시고 최소 5개 이상 문법 찾아서 코드와 주석처리 해주시면 됩니다.

In [ ]:
import pandas as pd
import datetime
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
crime = pd.read_csv('/content/drive/MyDrive/DATA/crime.csv')

- 시계열 자료 : 인덱스가 날짜 혹은 시간인 데이터
- 판다스에서 시계열 자료를 생성하려면 인덱스를 DatetimeIndex 자료형으로 만들어야 한다.
- DatetimeIndex는 특정한 순간에 기록된 타임스탬프 형식의 시계열 자료를 다루기 위한 인덱스
- 타임스탬프 인덱스의 라벨 값이 반드시 일정한 간격일 필요는 없다.

### DatetimeIndex
- pd.to_datetime : 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 바꾼 후 DatetimeIndex 자료형 인덱스 생성
- pd.date_range : 모든 날짜/시간을 일일히 입력할 필요없이 시작일과 종요일 또는 시작일과 기간을 입력하면 범위 내의 인덱스를 생성

In [ ]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [ ]:
import numpy as np

In [ ]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index=idx)
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

In [ ]:
pd.date_range("2018-4-1", "2018-4-30")

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start="2018-4-1", periods=30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

### freq인수로 특정한 날짜만 생성
- s : 초
- T : 분
- H : 시간
- D : 일(day)
- B : 주말이 아닌 평일
- W : 주(일요일)
- W-MON : 주(월요일)
- M : 각 달(month)의 마지막 날
- MS : 각 달의 첫날
- BM : 주말이 아닌 평일 중에서 각 달의 마지막 날
- BMS : 주말이 아닌 평일 중에서 각 달의 첫날
- WOM-2THU : 각 달의 두번째 목요일
- Q-JAN : 각 분기의 첫달의 마지막 날
- Q-DEC : 각 분기의 마지막 달의 마지막 날

In [ ]:
pd.date_range("2018-4-1", "2018-4-30", freq="B")

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
pd.date_range("2018-4-1", "2018-4-30", freq="W")

DatetimeIndex(['2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
pd.date_range("2018-4-1", "2018-4-30", freq="W-MON")

DatetimeIndex(['2018-04-02', '2018-04-09', '2018-04-16', '2018-04-23',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='W-MON')

In [ ]:
pd.date_range("2018-4-1", "2018-4-30", freq="MS")

DatetimeIndex(['2018-04-01'], dtype='datetime64[ns]', freq='MS')

In [ ]:
pd.date_range("2018-4-1", "2018-4-30", freq="M")

DatetimeIndex(['2018-04-30'], dtype='datetime64[ns]', freq='M')

In [ ]:
pd.date_range("2018-4-1", "2018-4-30", freq="BMS")

DatetimeIndex(['2018-04-02'], dtype='datetime64[ns]', freq='BMS')

### shift 연산
- 시계열 데이터의 인덱스는 시간이나 날짜를 나타내기 때문에 날짜 이동 등의 다양한 연산이 가능

In [ ]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "2018-1-1", periods=4, freq="M"))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [ ]:
ts.shift(1)

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [ ]:
ts.shift(-1)

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

In [ ]:
ts.shift(1, freq="M")

2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
2018-05-31    2.240893
Freq: M, dtype: float64

In [ ]:
ts.shift(1, freq="W")

2018-02-04    1.764052
2018-03-04    0.400157
2018-04-01    0.978738
2018-05-06    2.240893
dtype: float64

### rolling 메소드
- 이동평균,편차 구하기
- 이동평균 : 수의 집합에서 특정 크기의 부분 집합을 연속적으로 이동하며 산출한 평균
- window : 지정하는 부분집합의 크기

In [ ]:
ts.rolling(window=10).mean()

2018-01-01 00:00:00         NaN
2018-01-01 00:01:00         NaN
2018-01-01 00:02:00         NaN
2018-01-01 00:03:00         NaN
2018-01-01 00:04:00         NaN
2018-01-01 00:05:00         NaN
2018-01-01 00:06:00         NaN
2018-01-01 00:07:00         NaN
2018-01-01 00:08:00         NaN
2018-01-01 00:09:00    0.683532
2018-01-01 00:10:00    0.774044
2018-01-01 00:11:00    0.659928
2018-01-01 00:12:00    0.796015
2018-01-01 00:13:00    0.855259
2018-01-01 00:14:00    0.724373
2018-01-01 00:15:00    0.668542
2018-01-01 00:16:00    0.519429
2018-01-01 00:17:00    0.318884
2018-01-01 00:18:00    0.434831
2018-01-01 00:19:00    0.376463
2018-01-01 00:20:00    0.333807
2018-01-01 00:21:00    0.238597
2018-01-01 00:22:00    0.100357
2018-01-01 00:23:00    0.300784
2018-01-01 00:24:00    0.306606
2018-01-01 00:25:00    0.255131
2018-01-01 00:26:00    0.140497
2018-01-01 00:27:00    0.304362
2018-01-01 00:28:00    0.207105
2018-01-01 00:29:00    0.077650
2018-01-01 00:30:00    0.083522
2018-01-01 00:31:00    0.166129
2018-01-01 00:32:00    0.267303
2018-01-01 00:33:00    0.061547
2018-01-01 00:34:00    0.033918
2018-01-01 00:35:00   -0.116134
2018-01-01 00:36:00   -0.188269
2018-01-01 00:37:00   -0.198254
2018-01-01 00:38:00   -0.114154
2018-01-01 00:39:00   -0.053834
2018-01-01 00:40:00    0.248065
2018-01-01 00:41:00    0.274870
2018-01-01 00:42:00    0.125929
2018-01-01 00:43:00    0.258460
2018-01-01 00:44:00    0.087269
2018-01-01 00:45:00    0.150417
2018-01-01 00:46:00    0.292718
2018-01-01 00:47:00    0.420113
2018-01-01 00:48:00    0.328970
2018-01-01 00:49:00    0.182823
2018-01-01 00:50:00   -0.065336
2018-01-01 00:51:00   -0.226132
2018-01-01 00:52:00   -0.022186
2018-01-01 00:53:00   -0.241881
2018-01-01 00:54:00   -0.225037
2018-01-01 00:55:00   -0.222661
2018-01-01 00:56:00   -0.265640
2018-01-01 00:57:00   -0.244021
2018-01-01 00:58:00   -0.074603
2018-01-01 00:59:00    0.016796
Freq: T, dtype: float64

In [ ]:
ts.rolling(window=10).std()

2018-01-01 00:00:00         NaN
2018-01-01 00:01:00         NaN
2018-01-01 00:02:00         NaN
2018-01-01 00:03:00         NaN
2018-01-01 00:04:00         NaN
2018-01-01 00:05:00         NaN
2018-01-01 00:06:00         NaN
2018-01-01 00:07:00         NaN
2018-01-01 00:08:00         NaN
2018-01-01 00:09:00    1.324968
2018-01-01 00:10:00    1.209968
2018-01-01 00:11:00    1.139145
2018-01-01 00:12:00    1.076193
2018-01-01 00:13:00    0.995030
2018-01-01 00:14:00    0.922417
2018-01-01 00:15:00    0.887812
2018-01-01 00:16:00    0.783102
2018-01-01 00:17:00    0.918223
2018-01-01 00:18:00    0.820672
2018-01-01 00:19:00    0.718487
2018-01-01 00:20:00    0.771693
2018-01-01 00:21:00    0.766161
2018-01-01 00:22:00    0.748604
2018-01-01 00:23:00    0.921075
2018-01-01 00:24:00    0.923457
2018-01-01 00:25:00    0.899361
2018-01-01 00:26:00    0.953605
2018-01-01 00:27:00    0.852278
2018-01-01 00:28:00    0.906802
2018-01-01 00:29:00    0.817242
2018-01-01 00:30:00    0.811266
2018-01-01 00:31:00    0.826795
2018-01-01 00:32:00    0.806700
2018-01-01 00:33:00    0.592277
2018-01-01 00:34:00    0.566505
2018-01-01 00:35:00    0.649251
2018-01-01 00:36:00    0.760500
2018-01-01 00:37:00    0.750475
2018-01-01 00:38:00    0.738219
2018-01-01 00:39:00    0.775191
2018-01-01 00:40:00    1.059192
2018-01-01 00:41:00    1.074518
2018-01-01 00:42:00    1.129849
2018-01-01 00:43:00    1.163517
2018-01-01 00:44:00    1.262739
2018-01-01 00:45:00    1.211921
2018-01-01 00:46:00    1.073364
2018-01-01 00:47:00    1.164443
2018-01-01 00:48:00    1.220791
2018-01-01 00:49:00    1.266696
2018-01-01 00:50:00    1.003469
2018-01-01 00:51:00    0.951142
2018-01-01 00:52:00    1.004686
2018-01-01 00:53:00    0.967409
2018-01-01 00:54:00    0.947901
2018-01-01 00:55:00    0.947272
2018-01-01 00:56:00    0.949235
2018-01-01 00:57:00    1.000397
2018-01-01 00:58:00    1.048475
2018-01-01 00:59:00    1.014955
Freq: T, dtype: float64

### resample 연산
- 시간 간격을 재조정하는 리샘플링 가능
- 시간 구간이 작아지면 데이터 양이 증가 : up-sampling
- 시간 구간이 커지면 데이터 양 감소 : down-sampling

In [ ]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22    1.488252
2018-03-23    1.895889
2018-03-24    1.178780
2018-03-25   -0.179925
2018-03-26   -1.070753
2018-03-27    1.054452
2018-03-28   -0.403177
2018-03-29    1.222445
2018-03-30    0.208275
2018-03-31    0.976639
2018-04-01    0.356366
2018-04-02    0.706573
2018-04-03    0.010500
2018-04-04    1.785870
2018-04-05    0.126912
2018-04-06    0.401989
2018-04-07    1.883151
2018-04-08   -1.347759
2018-04-09   -1.270485
2018-04-10    0.969397
Freq: D, dtype: float64

- 다운-샘플링의 경우 : 원래의 데이터가 그룹으로 묶이기 때문에 그룹바이(groupby)떄와 같이 그룹 연산을 해서 대표값을 구해야 한다.

In [ ]:
ts.resample('W').mean()

2018-01-07    0.305776
2018-01-14    0.629064
2018-01-21   -0.006910
2018-01-28    0.277065
2018-02-04   -0.144972
2018-02-11   -0.496299
2018-02-18   -0.474473
2018-02-25   -0.201222
2018-03-04   -0.775142
2018-03-11    0.052868
2018-03-18   -0.450379
2018-03-25    0.601892
2018-04-01    0.334893
2018-04-08    0.509605
2018-04-15   -0.150544
Freq: W-SUN, dtype: float64

In [ ]:
ts.resample('M').first()

2018-01-31    1.867558
2018-02-28    0.156349
2018-03-31   -1.726283
2018-04-30    0.356366
Freq: M, dtype: float64

날짜가 아닌 시/분 단위에서는 구간위 왼쪽 한계값(가장 빠른 값)은 포함하고 오른쪽 한계값(가장 늦은 값)은 포함하지 않는다. 즉, 가장 늦은 값은 다음 구간에 포함

In [ ]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2018-1-1", periods=60, freq="T"))
ts.head(20)

2018-01-01 00:00:00   -1.173123
2018-01-01 00:01:00    1.943621
2018-01-01 00:02:00   -0.413619
2018-01-01 00:03:00   -0.747455
2018-01-01 00:04:00    1.922942
2018-01-01 00:05:00    1.480515
2018-01-01 00:06:00    1.867559
2018-01-01 00:07:00    0.906045
2018-01-01 00:08:00   -0.861226
2018-01-01 00:09:00    1.910065
2018-01-01 00:10:00   -0.268003
2018-01-01 00:11:00    0.802456
2018-01-01 00:12:00    0.947252
2018-01-01 00:13:00   -0.155010
2018-01-01 00:14:00    0.614079
2018-01-01 00:15:00    0.922207
2018-01-01 00:16:00    0.376426
2018-01-01 00:17:00   -1.099401
2018-01-01 00:18:00    0.298238
2018-01-01 00:19:00    1.326386
Freq: T, dtype: float64

In [ ]:
ts.resample('10T').sum()

2018-01-01 00:00:00    6.835324
2018-01-01 00:10:00    3.764630
2018-01-01 00:20:00    0.776495
2018-01-01 00:30:00   -0.538336
2018-01-01 00:40:00    1.828234
2018-01-01 00:50:00    0.167957
Freq: 10T, dtype: float64

왼쪽이 아니라 오른쪽 한계값을 구간에 포함하려면 closed="right"인수 사용

In [ ]:
ts.resample('10T', closed="right").sum()

2017-12-31 23:50:00   -1.173123
2018-01-01 00:00:00    7.740444
2018-01-01 00:10:00    3.338065
2018-01-01 00:20:00    0.835217
2018-01-01 00:30:00    2.480654
2018-01-01 00:40:00   -0.653363
2018-01-01 00:50:00    0.266409
Freq: 10T, dtype: float64

- ohlc 메서드 : 구간의 시고저종(open, high, low, close)값을 구함

In [ ]:
ts.resample('5T').ohlc()

                         open      high       low     close
2018-01-01 00:00:00 -1.173123  1.943621 -1.173123  1.922942
2018-01-01 00:05:00  1.480515  1.910065 -0.861226  1.910065
2018-01-01 00:10:00 -0.268003  0.947252 -0.268003  0.614079
2018-01-01 00:15:00  0.922207  1.326386 -1.099401  1.326386
2018-01-01 00:20:00 -0.694568  1.849264 -0.694568  0.672295
2018-01-01 00:25:00  0.407462  0.539249 -0.769916  0.031831
2018-01-01 00:30:00 -0.635846  0.676433 -0.635846  0.396007
2018-01-01 00:35:00 -1.093062  0.635031 -1.491258  0.635031
2018-01-01 00:40:00  2.383145  2.383145 -1.315907 -1.315907
2018-01-01 00:45:00 -0.461585  1.713343 -0.826439 -0.826439
2018-01-01 00:50:00 -0.098453  1.126636 -1.147469 -1.147469
2018-01-01 00:55:00 -0.437820  1.929532 -0.498032  0.087551

업-샘플링의 경우에는 실제로 존재하지 않는 데이터를 만들어야 한다. 이 때는 앞에서 나온 데이터를 뒤에서 그대로 쓰는 forward filling 방식과 뒤에서 나올 데이터를 앞에서 미리 쓰는 backward filling 방식을 사용할 수 있다. 각각 ffill, bfill 메서드를 이용한다.

In [ ]:
ts.resample('30s').ffill().head(20)

2018-01-01 00:00:00   -1.173123
2018-01-01 00:00:30   -1.173123
2018-01-01 00:01:00    1.943621
2018-01-01 00:01:30    1.943621
2018-01-01 00:02:00   -0.413619
2018-01-01 00:02:30   -0.413619
2018-01-01 00:03:00   -0.747455
2018-01-01 00:03:30   -0.747455
2018-01-01 00:04:00    1.922942
2018-01-01 00:04:30    1.922942
2018-01-01 00:05:00    1.480515
2018-01-01 00:05:30    1.480515
2018-01-01 00:06:00    1.867559
2018-01-01 00:06:30    1.867559
2018-01-01 00:07:00    0.906045
2018-01-01 00:07:30    0.906045
2018-01-01 00:08:00   -0.861226
2018-01-01 00:08:30   -0.861226
2018-01-01 00:09:00    1.910065
2018-01-01 00:09:30    1.910065
Freq: 30S, dtype: float64

In [ ]:
ts.resample('30s').bfill().head(20)

2018-01-01 00:00:00   -1.173123
2018-01-01 00:00:30    1.943621
2018-01-01 00:01:00    1.943621
2018-01-01 00:01:30   -0.413619
2018-01-01 00:02:00   -0.413619
2018-01-01 00:02:30   -0.747455
2018-01-01 00:03:00   -0.747455
2018-01-01 00:03:30    1.922942
2018-01-01 00:04:00    1.922942
2018-01-01 00:04:30    1.480515
2018-01-01 00:05:00    1.480515
2018-01-01 00:05:30    1.867559
2018-01-01 00:06:00    1.867559
2018-01-01 00:06:30    0.906045
2018-01-01 00:07:00    0.906045
2018-01-01 00:07:30   -0.861226
2018-01-01 00:08:00   -0.861226
2018-01-01 00:08:30    1.910065
2018-01-01 00:09:00    1.910065
2018-01-01 00:09:30   -0.268003
Freq: 30S, dtype: float64

### dt 접근자
- datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용할 수 있다.

In [ ]:
s = pd.Series(pd.date_range("2020-12-25", periods=100, freq="D"))
s

0    2020-12-25
1    2020-12-26
2    2020-12-27
3    2020-12-28
4    2020-12-29
        ...
95   2021-03-30
96   2021-03-31
97   2021-04-01
98   2021-04-02
99   2021-04-03
Length: 100, dtype: datetime64[ns]

year, month, day, weekday 등의 속성을 이용하면 년, 월, 일, 요일 정보를 빼낼 수 있음

In [ ]:
s.dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Length: 100, dtype: int64

In [ ]:
s.dt.month

0     12
1     12
2     12
3     12
4     12
      ..
95     3
96     3
97     4
98     4
99     4
Length: 100, dtype: int64

In [ ]:
s.dt.weekday

0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64

strftime 메서드를 이용하여 문자열을 만드는 것도 가능

In [ ]:
s.dt.strftime("%Y년 %m월 %d일")

0     2020년 12월 25일
1     2020년 12월 26일
2     2020년 12월 27일
3     2020년 12월 28일
4     2020년 12월 29일
          ...
95    2021년 03월 30일
96    2021년 03월 31일
97    2021년 04월 01일
98    2021년 04월 02일
99    2021년 04월 03일
Length: 100, dtype: object