In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
mpg = pd.read_csv('/content/drive/MyDrive/mpg.csv')

Mounted at /content/drive

In [2]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

#시리즈 메서드 활용

##append 메서드 
- 2개 이상의 시리즈 연결

In [5]:
student = pd.Series(['홍길동',15], index=['name','age'])
student = student.append(pd.Series(['김영희',25], index = ['name','age']))
student

<ipython-input-5-8c3a065184d3>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  student = student.append(pd.Series(['김영희',25], index = ['name','age']))

name    홍길동
age      15
name    김영희
age      25
dtype: object

In [6]:
student = student.append(pd.Series(['A','High'], index=['degree','class']))
student

<ipython-input-6-037acc84dcae>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  student = student.append(pd.Series(['A','High'], index=['degree','class']))

name       홍길동
age         15
name       김영희
age         25
degree       A
class     High
dtype: object

##describe 메서드 
- 요약 통계량 계산 (연속형 데이터)

In [7]:
mpg.displ.describe()

count    234.000000
mean       3.471795
std        1.291959
min        1.600000
25%        2.400000
50%        3.300000
75%        4.600000
max        7.000000
Name: displ, dtype: float64

In [8]:
mpg.year.describe()

count     234.000000
mean     2003.500000
std         4.509646
min      1999.000000
25%      1999.000000
50%      2003.500000
75%      2008.000000
max      2008.000000
Name: year, dtype: float64

In [9]:
mpg.cyl.describe()

count    234.000000
mean       5.888889
std        1.611534
min        4.000000
25%        4.000000
50%        6.000000
75%        8.000000
max        8.000000
Name: cyl, dtype: float64

In [10]:
mpg.hwy.describe()

count    234.000000
mean      23.440171
std        5.954643
min       12.000000
25%       18.000000
50%       24.000000
75%       27.000000
max       44.000000
Name: hwy, dtype: float64

##drop_duplicates 메서드 
- 중복값이 없는 시리즈 반환 (중복 값 제거)

In [11]:
mpg.manufacturer.drop_duplicates()

0            audi
18      chevrolet
37          dodge
74           ford
99          honda
108       hyundai
122          jeep
130    land rover
134       lincoln
137       mercury
141        nissan
154       pontiac
159        subaru
173        toyota
207    volkswagen
Name: manufacturer, dtype: object

In [12]:
mpg.model.drop_duplicates()

0                          a4
7                  a4 quattro
15                 a6 quattro
18         c1500 suburban 2wd
23                   corvette
28            k1500 tahoe 4wd
32                     malibu
37                caravan 2wd
48          dakota pickup 4wd
57                durango 4wd
64        ram 1500 pickup 4wd
74             expedition 2wd
77               explorer 4wd
83            f150 pickup 4wd
90                    mustang
99                      civic
108                    sonata
115                   tiburon
122        grand cherokee 4wd
130               range rover
134             navigator 2wd
137           mountaineer 4wd
141                    altima
147                    maxima
150            pathfinder 4wd
154                grand prix
159              forester awd
165               impreza awd
173               4runner 4wd
179                     camry
186              camry solara
193                   corolla
198    land cruiser wagon 4wd
200         toyota tacoma 4wd
207                       gti
212                     jetta
221                new beetle
227                    passat
Name: model, dtype: object

In [13]:
mpg.displ.drop_duplicates()

0      1.8
2      2.0
4      2.8
6      3.1
17     4.2
18     5.3
21     5.7
22     6.0
25     6.2
27     7.0
31     6.5
32     2.4
35     3.5
36     3.6
38     3.0
39     3.3
44     3.8
47     4.0
48     3.7
50     3.9
52     4.7
55     5.2
63     5.9
74     4.6
75     5.4
82     5.0
99     1.6
112    2.5
119    2.7
129    6.1
132    4.4
153    5.6
165    2.2
175    3.4
212    1.9
Name: displ, dtype: float64

In [14]:
mpg.year.drop_duplicates()

0    1999
2    2008
Name: year, dtype: int64

In [15]:
mpg.cyl.drop_duplicates()

0      4
4      6
17     8
217    5
Name: cyl, dtype: int64

In [16]:
mpg.trans.drop_duplicates()

0        auto(l5)
1      manual(m5)
2      manual(m6)
3        auto(av)
10       auto(s6)
18       auto(l4)
37       auto(l3)
46       auto(l6)
153      auto(s5)
158      auto(s4)
Name: trans, dtype: object

In [17]:
mpg.fl.drop_duplicates()

0      p
18     r
19     e
31     d
106    c
Name: fl, dtype: object

In [18]:
mpg.category.drop_duplicates()

0        compact
15       midsize
18           suv
23       2seater
37       minivan
48        pickup
90    subcompact
Name: category, dtype: object

##get_values 메서드 
- 시리즈 값 구하기 (values 속성과 동일)

In [24]:
mpg.model.values

array(['a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4 quattro',
       'a4 quattro', 'a4 quattro', 'a4 quattro', 'a4 quattro',
       'a4 quattro', 'a4 quattro', 'a4 quattro', 'a6 quattro',
       'a6 quattro', 'a6 quattro', 'c1500 suburban 2wd',
       'c1500 suburban 2wd', 'c1500 suburban 2wd', 'c1500 suburban 2wd',
       'c1500 suburban 2wd', 'corvette', 'corvette', 'corvette',
       'corvette', 'corvette', 'k1500 tahoe 4wd', 'k1500 tahoe 4wd',
       'k1500 tahoe 4wd', 'k1500 tahoe 4wd', 'malibu', 'malibu', 'malibu',
       'malibu', 'malibu', 'caravan 2wd', 'caravan 2wd', 'caravan 2wd',
       'caravan 2wd', 'caravan 2wd', 'caravan 2wd', 'caravan 2wd',
       'caravan 2wd', 'caravan 2wd', 'caravan 2wd', 'caravan 2wd',
       'dakota pickup 4wd', 'dakota pickup 4wd', 'dakota pickup 4wd',
       'dakota pickup 4wd', 'dakota pickup 4wd', 'dakota pickup 4wd',
       'dakota pickup 4wd', 'dakota pickup 4wd', 'dakota pickup 4wd',
       'durango 4wd', 'durango 4wd', 'durango 4wd', 'durango 4wd',
       'durango 4wd', 'durango 4wd', 'durango 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'expedition 2wd', 'expedition 2wd',
       'expedition 2wd', 'explorer 4wd', 'explorer 4wd', 'explorer 4wd',
       'explorer 4wd', 'explorer 4wd', 'explorer 4wd', 'f150 pickup 4wd',
       'f150 pickup 4wd', 'f150 pickup 4wd', 'f150 pickup 4wd',
       'f150 pickup 4wd', 'f150 pickup 4wd', 'f150 pickup 4wd', 'mustang',
       'mustang', 'mustang', 'mustang', 'mustang', 'mustang', 'mustang',
       'mustang', 'mustang', 'civic', 'civic', 'civic', 'civic', 'civic',
       'civic', 'civic', 'civic', 'civic', 'sonata', 'sonata', 'sonata',
       'sonata', 'sonata', 'sonata', 'sonata', 'tiburon', 'tiburon',
       'tiburon', 'tiburon', 'tiburon', 'tiburon', 'tiburon',
       'grand cherokee 4wd', 'grand cherokee 4wd', 'grand cherokee 4wd',
       'grand cherokee 4wd', 'grand cherokee 4wd', 'grand cherokee 4wd',
       'grand cherokee 4wd', 'grand cherokee 4wd', 'range rover',
       'range rover', 'range rover', 'range rover', 'navigator 2wd',
       'navigator 2wd', 'navigator 2wd', 'mountaineer 4wd',
       'mountaineer 4wd', 'mountaineer 4wd', 'mountaineer 4wd', 'altima',
       'altima', 'altima', 'altima', 'altima', 'altima', 'maxima',
       'maxima', 'maxima', 'pathfinder 4wd', 'pathfinder 4wd',
       'pathfinder 4wd', 'pathfinder 4wd', 'grand prix', 'grand prix',
       'grand prix', 'grand prix', 'grand prix', 'forester awd',
       'forester awd', 'forester awd', 'forester awd', 'forester awd',
       'forester awd', 'impreza awd', 'impreza awd', 'impreza awd',
       'impreza awd', 'impreza awd', 'impreza awd', 'impreza awd',
       'impreza awd', '4runner 4wd', '4runner 4wd', '4runner 4wd',
       '4runner 4wd', '4runner 4wd', '4runner 4wd', 'camry', 'camry',
       'camry', 'camry', 'camry', 'camry', 'camry', 'camry solara',
       'camry solara', 'camry solara', 'camry solara', 'camry solara',
       'camry solara', 'camry solara', 'corolla', 'corolla', 'corolla',
       'corolla', 'corolla', 'land cruiser wagon 4wd',
       'land cruiser wagon 4wd', 'toyota tacoma 4wd', 'toyota tacoma 4wd',
       'toyota tacoma 4wd', 'toyota tacoma 4wd', 'toyota tacoma 4wd',
       'toyota tacoma 4wd', 'toyota tacoma 4wd', 'gti', 'gti', 'gti',
       'gti', 'gti', 'jetta', 'jetta', 'jetta', 'jetta', 'jetta', 'jetta',
       'jetta', 'jetta', 'jetta', 'new beetle', 'new beetle',
       'new beetle', 'new beetle', 'new beetle', 'new beetle', 'passat',
       'passat', 'passat', 'passat', 'passat', 'passat', 'passat'],
      dtype=object)

##isin 메서드 
- 시리즈에 포함 된 값이 있는지 확인 (True, False로 반환)

In [25]:
mpg.model.isin(['passat'])

0      False
1      False
2      False
3      False
4      False
       ...
229     True
230     True
231     True
232     True
233     True
Name: model, Length: 234, dtype: bool

##기초 통계량 메서드
- mean 평균 
- min 최솟값
- max 최댓값
- median 중위값
- std 표준편차

In [26]:
mpg.displ.mean()

3.4717948717948723

In [27]:
mpg.displ.min()

1.6

In [28]:
mpg.displ.max()

7.0

In [29]:
mpg.displ.median()

3.3

In [30]:
mpg.displ.std()

1.2919590310839348

##replace
- 특정 값을 가진 시리즈 값을 교체

In [32]:
student.replace({'김영희':'김철수'})

name       홍길동
age         15
name       김철수
age         25
degree       A
class     High
dtype: object

##equals
- 두 객체가 완벽하게 동일한지를 확인하는 메서드

In [40]:
student_ex = pd.Series(['홍길동',15], index=['name','age'])
student.equals(student_ex)

False

##sort_values
- 값 정렬

In [41]:
mpg.displ.sort_values()

99     1.6
101    1.6
102    1.6
103    1.6
100    1.6
      ...
129    6.1
25     6.2
26     6.2
31     6.5
27     7.0
Name: displ, Length: 234, dtype: float64

##to_frame
- 시리즈를 데이터프레임으로 변환

In [45]:
student_f = student_ex.to_frame()
student_f

        0
name  홍길동
age    15